body {
  background-color: gray;
}

title {
  background-color: lightgray;
}

header {
  background-color: lightgray;
  text-align: center;
  font-size: 40px;
  color: black;
  outline-color: black;
}

.contact-card, .container{
  text-align: center;
  background-color: white;
  border-color: black;
  border-width: thin;
  border-style: solid;
  font-size: 30px;
  color: black;
  margin: auto;
  border-radius: 5px
}
.contact-card{
  width: 50%;
}

.container{
  width: 25%;
}

.contact-content{
  text-align: center;
  background-color: white;
  font-size: 30px;
  color: black;
  margin: auto;
  width: 75%;
}

form {
  background-color: lightblue;
  text-align: center;
  font-size: 20px;
  color: black;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-color: black;
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}

input {
  /* 
    padding-right can cause unexpected behavior with long inputs, and may confuse the user
    instead, use class selectors and the 'width' property.
  */
  /* padding-right: 20%; */
}
.login-input{
  width: 50%;
}

.contact-entry-input{
 width: 80%;
}

.search-input{
  width: 90%;
}

span.error{
  font-size: 20px;
  color: red;
}

p.error{
  font-size: 16px;
  color: red;
}
